<div class="header-components">
    <div class="container">
            <h1>Unidades</h1>

        <div class="container list-units">
            <h4 class="subtitle">Cadastro de Unidade Geradora</h4>

           
            <form [formGroup]="CustomerForm" (submit)="atualizarUnidade()">
                <div class="mb-3">
                  <label for="apelido" class="form-label">Apelido</label>
                  <input type="text" class="form-control" id="apelido" placeholder="Painel 1" [ngClass]="CustomerForm.get('apelido')?.errors ? 'is-invalid': ' ' " formControlName="apelido" name="apelido" [(ngModel)]='listaUnidades.apelido' required >
                  <div class="invalid-feedback">
                    Campo obrigatório
                   </div>
                </div>
              

                <div class="mb-3">
                  <label for="Local" class="form-label">Local</label>
                  <input type="text" class="form-control" id="local"
                  placeholder="Rua Alberto 430"   [ngClass]="CustomerForm.get('local')?.errors ? 'is-invalid': ' ' " formControlName="local" [(ngModel)]="listaUnidades.local" required >
                  <div class="invalid-feedback">
                    Campo obrigatório
                   </div>

                </div>

                <div class="mb-3">
                  <label for="marca" class="form-label">Marca</label>
                  <input type="text" class="form-control" id="marca" placeholder="Resun"  [ngClass]="CustomerForm.get('marca')?.errors ? 'is-invalid': ' ' " formControlName="marca" [(ngModel)]="listaUnidades.marca" required >
                  <div class="invalid-feedback">
                    Campo obrigatório
                   </div>
                </div>

                <div class="mb-3">
                  <label for="modelo" class="form-label">Modelo</label>
                  <input type="text" class="form-control" id="modelo" placeholder="155w"  [ngClass]="CustomerForm.get('modelo')?.errors ? 'is-invalid': ' ' " formControlName="modelo" [(ngModel)]="listaUnidades.modelo" required >
                  <div class="invalid-feedback">
                    Campo obrigatório
                   </div>
                </div>



                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="ativo" [(ngModel)]="listaUnidades.ativo">
                  <label class="form-check-label" for="exampleCheck1">Ativo</label>
                </div>
                <button type="submit" class="btn btn-primary new-unity-button"[disabled]="CustomerForm.invalid">Salvar</button>
                
              </form>
    


        </div>

      
    </div>
</div>
