label{
    color: #53575D;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding: 5px;
}
.form-check-label{
    color: black;
    font-weight: bold ;
}
button{
    margin: 20px 0;
}
.header-components{
padding: 0 50px;
}