.card{
    margin: 50px;
}
.card-title{
    color: #9FA2B4;
    font-size: 19px;
    font-weight: 700;
    line-height: 23.85px;
    letter-spacing: 0.4px;
    font-family: 'Mulish';
    text-align: center;
}
.card-text{
font-weight: bold;
font-family: 'Mulish';
font-weight: 700;
text-align: center;
font-size: 40px;
}