
  <div class="header-components">
    <div class="container">
    <h1>Lançamento de geração mensal</h1>
    <div class="container list-units">

      <form>
        <div class="mb-3">
          <label for="unidade_geradora" class="form-label">Unidade geradora</label>
          
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected >Selecione uma opção</option>
            <option value="1" *ngFor="let item of listaUnidades" (ngModel)="apelido" required >{{item.apelido}}</option>
          </select>
        </div>
        <div class="mb-3">
        <label for="date" class="form-label">Mês/ano</label>  
        <input type="date" class="form-control" >
          </div>
          <div class="mb-3">
            <label for="kw_gerado" class="form-label">Total kw gerado</label>
            <input type="number" class="form-control" id="total" placeholder="Digite o valor" required [(ngModel)]="total" >
          </div>
          <button type="submit" class="btn btn-primary new-unity-button" (click)="cadastrarEnergia('unidade')">Cadastrar</button>
          


        </form>

      </div>
      
      
  </div>
  </div>

