      <div class="header-principal">
        
        <img src="assets/logo-teste.png" alt="">
        
          <div class="option-list">
            <ul>
              <li><a [routerLink]="['/dashboard']"><i class="fa-solid fa-chart-pie"></i> Dashboard</a></li>
              <li><a [routerLink]="['/unidade']"><i class="fa-solid fa-chart-line"></i> Unidade</a></li>
              <li><a [routerLink]="['/cadastro-de-energia']"><i class="fa-solid fa-gear"></i> Cadastro de energia gerada</a></li>
            </ul>
          </div>
      </div>    

