      <div class="header-principal">
        
        <img src="assets/logo-teste.png" alt="">
        
          <div class="option-list">
            <ul>
              <a [routerLink]="['/dashboard']" style="text-decoration: none"><li><i class="fa-solid fa-chart-pie"></i> Dashboard</li></a>
              <a [routerLink]="['/unidade']" style="text-decoration: none"><li><i class="fa-solid fa-chart-line"></i> Unidade</li></a>
              <a [routerLink]="['/cadastro-de-energia']" style="text-decoration: none"><li><i class="fa-solid fa-gear"></i> Cadastro de energia gerada</li></a>
            </ul>
          </div>
      </div>    

